# <center>Assignment 4

Name: Alua Bilakhanova (211107012)

**You need to work with data from the about 128 years of Olympic history by pandas. Write code and perform computations in the cells below. There are seven questions with one bonus .**

Download the files `winter.csv` and `summer.csv` from [here](https://drive.google.com/drive/folders/1k6BtheuRBaLcsF7698-kolc3LZFocaIN?usp=sharing).

In [3]:
import pandas as pd

In [4]:
PATH1 = 'summer.csv'
PATH2 = 'winter.csv'

In [5]:
dataSummer = pd.read_csv(PATH1)
dataSummer.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1896,Athens,Aquatics,Swimming,"HAJOS, Alfred",HUN,Men,100M Freestyle,Gold
1,1896,Athens,Aquatics,Swimming,"HERSCHMANN, Otto",AUT,Men,100M Freestyle,Silver
2,1896,Athens,Aquatics,Swimming,"DRIVAS, Dimitrios",GRE,Men,100M Freestyle For Sailors,Bronze
3,1896,Athens,Aquatics,Swimming,"MALOKINIS, Ioannis",GRE,Men,100M Freestyle For Sailors,Gold
4,1896,Athens,Aquatics,Swimming,"CHASAPIS, Spiridon",GRE,Men,100M Freestyle For Sailors,Silver

In [6]:
dataWinter = pd.read_csv(PATH2)
dataWinter.head()

,Year,City,Sport,Discipline,Athlete,Country,Gender,Event,Medal
0,1924,Chamonix,Biathlon,Biathlon,"BERTHET, G.",FRA,Men,Military Patrol,Bronze
1,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, C.",FRA,Men,Military Patrol,Bronze
2,1924,Chamonix,Biathlon,Biathlon,"MANDRILLON, Maurice",FRA,Men,Military Patrol,Bronze
3,1924,Chamonix,Biathlon,Biathlon,"VANDELLE, André",FRA,Men,Military Patrol,Bronze
4,1924,Chamonix,Biathlon,Biathlon,"AUFDENBLATTEN, Adolf",SUI,Men,Military Patrol,Gold

__1. Concatenate these datasets and sort them by year.__

__2. Sum up the total missing values and drop rows with null data.__

__3. Write a function to update the dataframe to include a new column called "Points" for Games which is a weighted value where each gold medal counts for 3 points, silver medals for 2 points, and bronze medals for 1 point. The function should return only the column (a Series object) which you created.__

__4. View repeating rows by Athlete feature and displays all the duplicated Athletes in order.__

In [10]:
dataWinter.nunique()

Year            22
City            19
Sport            7
Discipline      15
Athlete       3761
Country         45
Gender           2
Event           83
Medal            3
dtype: int64

__5. Copy existing dataframe and delete all rows that repeats more than twice by Athlete column__

__6. The dataset has elements of categorical data in the “Sport” column. Create a new dataframe with convertion of Sport column by one hot encoded column and left join this dataset to our main table.__

__Bonus: Find interesting information about Olympic games by analyzing a data with pandas queries__