# <center>Assignment 2

Deadline: Wednesday 19:00 Feb 3, 2021

Name: Alua Bilakhanova (211107012)

**In this assignment you need to work with data from the [worldometers](https://www.worldometers.info/coronavirus/) website. I want you to scrape all 215 countries information about coronavirus cases from the website.** 
The data has to include:
- `Country name`
- `Total cases`
- `Total deaths`
- `Total recovered`
- `Active cases`
- `New cases`
- `New deaths`
- `Total tests`
- `Population`

**You need to use beautiful soup 4 and regular expressions for this task. Save results in csv (txt) file and read this dataset**

Run cell below, if you don't have bs4 library

## Import Statements

In [2]:
from urllib.request import Request, urlopen
from bs4 import BeautifulSoup
import re
import csv
import pandas as pd

## Methods

In [74]:
# request
url = 'https://www.worldometers.info/coronavirus/'
req = Request(url, headers={'User-Agent': 'Mozilla/5.0'})
html = urlopen(req)

In [75]:
#saving data in csv format
def save_data(data):
    with open('coronavirus_data.csv', encoding='utf-8', mode='a', newline="") as file:
        writer = csv.writer(file)
#         columns = ["Country_name", "Total_cases", "Total_deaths",
#                          "Total_recovered", "Active_cases", "New_cases",
#                          "New_deaths","Total_tests", "Population"]
#         writer.writerow(columns)
        writer.writerow([data['country_name'],
                                 data['total_cases'],
                                 data['total_deaths'],
                                 data['total_recovered'],
                                 data['active_cases'],
                                 data['new_cases'],
                                 data['new_death'],
                                 data['total_tests'],
                                 data['population'],
                                 ])

In [76]:
#scraping data from the webpage
def parser(html):
    if html.code == 200:
        soup = BeautifulSoup(html.read(), 'html.parser')
        table = soup.find('tbody')
        items = table.find_all('tr')
        for item in items:
            country_name = ''
            total_cases = ''
            new_cases = ''
            total_deaths = ''
            new_deaths = ''
            total_recovered = ''
            active_cases = ''
            total_tests = ''
            population = ''
            count = 0
            tds = item.find_all('td', {'style': re.compile('^font|^text-align:right')})
            if len(tds) == 0:
                continue
            for td in tds:
                count += 1
                if count == 2:
                    country_name = td.get_text().strip()
                elif count == 3:
                    total_cases = td.get_text()
                elif count == 4:
                    new_cases = td.get_text()
                elif count == 5:
                    total_deaths = td.get_text()
                elif count == 6:
                    new_deaths = td.get_text()
                elif count == 7:
                    total_recovered = td.get_text()
                elif count == 9:
                    active_cases = td.get_text()
                elif count == 13:
                    total_tests = td.get_text()
                elif count == 15:
                    population = td.get_text()
            data = {
                'country_name': country_name,
                'total_cases': total_cases,
                'total_deaths': total_deaths,
                'total_recovered': total_recovered,
                'active_cases': active_cases,
                'new_cases': new_cases,
                'new_death': new_deaths,
                'total_tests': total_tests,
                'population': population,
            }
            save_data(data)

In [77]:
#calling the method parser
# parser(html)

In [3]:
# reading the csv file (parsed data)
data = pd.read_csv('coronavirus_data.csv')
data

,Country_name,Total_cases,Total_deaths,Total_recovered,Active_cases,New_cases,New_deaths,Total_tests,Population
0,USA,"78,017,402","926,029","47,998,370","29,093,003",NaN,NaN,"914,397,640","334,104,170"
1,India,"42,272,014","502,905","40,660,202","1,108,907",NaN,NaN,"741,561,587","1,401,680,124"
2,Brazil,"26,536,597","632,289","22,717,907","3,186,401",NaN,NaN,"63,776,166","214,973,669"
3,France,"20,758,371","132,506","14,142,022","6,483,843",NaN,NaN,"231,648,947","65,504,333"
4,UK,"17,803,325","158,318","15,246,943","2,398,064",NaN,NaN,"458,465,073","68,455,848"
...,...,...,...,...,...,...,...,...,...
220,Vanuatu,7,1,6,0,NaN,NaN,"23,000","318,600"
221,Marshall Islands,7,,7,0,NaN,NaN,NaN,"59,828"
222,Saint Helena,2,,2,0,NaN,NaN,NaN,"6,106"
223,Micronesia,1,,1,0,NaN,NaN,NaN,"116,949"
224,China,"106,419","4,636","100,288","1,495",+79,NaN,"160,000,000","1,439,323,776"