# <center>Assignment 3

Name: Alua Bilakhanova (211107012)

# Part 1

**In part 1 you need to work with data from the about 120 years of Olympic history by pandas. Write code and perform computations in the cells below. There are five questions.**

Download the file `athlete_events.csv` from [here](https://drive.google.com/file/d/1f5v6Z2ayc7h698FG_98wP5x1Y2zZQeox/view?usp=sharing). The dataset has the following features:

- __ID__ - Unique number for each athlete
- __Name__ - Athlete's name
- __Sex__ - M or F
- __Age__ - Integer
- __Height__ - In centimeters
- __Weight__ - In kilograms
- __Team__ - Team name
- __NOC__ - National Olympic Committee 3-letter code
- __Games__ - Year and season
- __Year__ - Integer
- __Season__ - Summer or Winter
- __City__ - Host city
- __Sport__ - Sport
- __Event__ - Event
- __Medal__ - Gold, Silver, Bronze, or NA

In [1]:
import pandas as pd

In [2]:
PATH = 'athlete_events.csv'

In [3]:
data = pd.read_csv(PATH)
#data.head()
data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
0,1,A Dijiang,M,24.0,180.0,80.0,China,CHN,1992 Summer,1992,Summer,Barcelona,Basketball,Basketball Men's Basketball,NaN
1,2,A Lamusi,M,23.0,170.0,60.0,China,CHN,2012 Summer,2012,Summer,London,Judo,Judo Men's Extra-Lightweight,NaN
2,3,Gunnar Nielsen Aaby,M,24.0,NaN,NaN,Denmark,DEN,1920 Summer,1920,Summer,Antwerpen,Football,Football Men's Football,NaN
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271111,135569,Andrzej ya,M,29.0,179.0,89.0,Poland-1,POL,1976 Winter,1976,Winter,Innsbruck,Luge,Luge Mixed (Men)'s Doubles,NaN
271112,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Individual",NaN
271113,135570,Piotr ya,M,27.0,176.0,59.0,Poland,POL,2014 Winter,2014,Winter,Sochi,Ski Jumping,"Ski Jumping Men's Large Hill, Team",NaN
271114,135571,Tomasz Ireneusz ya,M,30.0,185.0,96.0,Poland,POL,1998 Winter,1998,Winter,Nagano,Bobsleigh,Bobsleigh Men's Four,NaN
271115,135571,Tomasz Ireneusz ya,M,34.0,185.0,96.0,Poland,POL,2002 Winter,2002,Winter,Salt Lake City,Bobsleigh,Bobsleigh Men's Four,NaN

__1. How old were the oldest male and female participants of the 2012 Olympics?__

In [5]:
f_old = data[(data['Sex'] == 'F') & (data['Year'] == 2012)]['Age'].max()
m_old = data[(data['Sex'] == 'M') & (data['Year'] == 2012)]['Age'].max()

print(f"The oldest female is {int(f_old)} years old and the oldest male is {int(m_old)} years old")

The oldest female is 57 years old and the oldest male is 71 years old

__2. What are the mean and standard deviation of height for male basketball players who participated in the 1992 Olympics? Round the answer to the first decimal.__

In [78]:
height = data[(data['Sex'] == 'M') & (data['Year'] == 1992) & (data['Sport']=='Basketball')].duplicated['Name']['Height']
mean = round(height.mean(), 1)
std = round(height.std(), 1)
print(f'Mean:{mean} and Standard deviation:{std}')

Mean:199.5 and Standard deviation:9.5

__3. How many times did Christine Jacoba Aaftink participate in the Olympics held in different years?__

In [14]:
my_data = data[(data['Year'].notna()) & (data['Name'] == 'Christine Jacoba Aaftink')]
my_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
4,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,Speed Skating Women's 500 metres,NaN
5,5,Christine Jacoba Aaftink,F,21.0,185.0,82.0,Netherlands,NED,1988 Winter,1988,Winter,Calgary,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
6,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,Speed Skating Women's 500 metres,NaN
7,5,Christine Jacoba Aaftink,F,25.0,185.0,82.0,Netherlands,NED,1992 Winter,1992,Winter,Albertville,Speed Skating,"Speed Skating Women's 1,000 metres",NaN
8,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,Speed Skating Women's 500 metres,NaN
9,5,Christine Jacoba Aaftink,F,27.0,185.0,82.0,Netherlands,NED,1994 Winter,1994,Winter,Lillehammer,Speed Skating,"Speed Skating Women's 1,000 metres",NaN

In [16]:
my_data['Year'].nunique()

3

__4. Is it true that China won fewer medals than Russia at the 2012 Olympics? Do not consider NaN values in Medal column.__

In [61]:
clean_data = data[data['Medal'].notna()]
clean_data

,ID,Name,Sex,Age,Height,Weight,Team,NOC,Games,Year,Season,City,Sport,Event,Medal
3,4,Edgar Lindenau Aabye,M,34.0,NaN,NaN,Denmark/Sweden,DEN,1900 Summer,1900,Summer,Paris,Tug-Of-War,Tug-Of-War Men's Tug-Of-War,Gold
37,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 200 metres Breaststroke,Bronze
38,15,Arvo Ossian Aaltonen,M,30.0,NaN,NaN,Finland,FIN,1920 Summer,1920,Summer,Antwerpen,Swimming,Swimming Men's 400 metres Breaststroke,Bronze
40,16,Juhamatti Tapio Aaltonen,M,28.0,184.0,85.0,Finland,FIN,2014 Winter,2014,Winter,Sochi,Ice Hockey,Ice Hockey Men's Ice Hockey,Bronze
41,17,Paavo Johannes Aaltonen,M,28.0,175.0,64.0,Finland,FIN,1948 Summer,1948,Summer,London,Gymnastics,Gymnastics Men's Individual All-Around,Bronze
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
271078,135553,Galina Ivanovna Zybina (-Fyodorova),F,25.0,168.0,80.0,Soviet Union,URS,1956 Summer,1956,Summer,Melbourne,Athletics,Athletics Women's Shot Put,Silver
271080,135553,Galina Ivanovna Zybina (-Fyodorova),F,33.0,168.0,80.0,Soviet Union,URS,1964 Summer,1964,Summer,Tokyo,Athletics,Athletics Women's Shot Put,Bronze
271082,135554,Bogusaw Zych,M,28.0,182.0,82.0,Poland,POL,1980 Summer,1980,Summer,Moskva,Fencing,"Fencing Men's Foil, Team",Bronze
271102,135563,Olesya Nikolayevna Zykina,F,19.0,171.0,64.0,Russia,RUS,2000 Summer,2000,Summer,Sydney,Athletics,Athletics Women's 4 x 400 metres Relay,Bronze
271103,135563,Olesya Nikolayevna Zykina,F,23.0,171.0,64.0,Russia,RUS,2004 Summer,2004,Summer,Athina,Athletics,Athletics Women's 4 x 400 metres Relay,Silver

In [62]:
china_medal = clean_data[(clean_data.NOC == 'CHN') & (clean_data.Year==2012)]['Medal'].count()
russia_medal = clean_data[(clean_data.NOC == 'RUS') & (clean_data.Year==2012)]['Medal'].count()
print(f'Is it true that China won fewer medals than Russia at the 2012 Olympics? {china_medal<russia_medal}. China won {china_medal} medals. Russia won {russia_medal} medals. ')

Is it true that China won fewer medals than Russia at the 2012 Olympics? True. China won 125 medals. Russia won 140 medals.

__5. What is the absolute difference between the number of unique sports at the 1986 Olympics and 2016 Olympics?__

In [74]:
ol_1 = data[data['Year'] == 1986]['Sport'].unique()
ol_1

array([], dtype=object)

In [75]:
ol_2 = data[data['Year'] == 2016]['Sport'].unique()
ol_2

array(['Weightlifting', 'Gymnastics', 'Athletics', 'Rowing', 'Taekwondo',
       'Handball', 'Boxing', 'Equestrianism', 'Cycling', 'Volleyball',
       'Diving', 'Shooting', 'Judo', 'Football', 'Synchronized Swimming',
       'Wrestling', 'Fencing', 'Swimming', 'Badminton', 'Rugby Sevens',
       'Table Tennis', 'Water Polo', 'Trampolining', 'Basketball',
       'Triathlon', 'Modern Pentathlon', 'Sailing', 'Beach Volleyball',
       'Golf', 'Rhythmic Gymnastics', 'Archery', 'Hockey', 'Canoeing',
       'Tennis'], dtype=object)

In [78]:
abs(len(ol_1)-len(ol_2))

34

# Part 2

**In part 2 you need to work with numpy library. Write code and perform computations in the cells below. There are five questions.**

In [18]:
import numpy as np

__6. Create a 5x5 matrix with row values ranging from 0 to 4__

In [25]:
matrix = np.zeros((5,5))
matrix += np.arange(5)
matrix

array([[0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.],
       [0., 1., 2., 3., 4.]])

__7. Create a random vector of size 10 and sort it__

In [39]:
vector = np.random.random(10)
np.sort(vector)

array([0.14072977, 0.23046428, 0.24918973, 0.2748933 , 0.34836827,
       0.46250217, 0.48263518, 0.64024426, 0.7253327 , 0.73869726])

__8. Create a structured array with x and y coordinates covering the [0,1]x[0,1] area__

In [69]:
array = np.zeros((10,10), [('x',float),('y',float)])
a = np.linspace(0,1,10)
b = np.linspace(0,1,10)
array['x'], array['y'] = np.meshgrid(a, b)
array['x']

array([[0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ],
       [0.        , 0.11111111, 0.22222222, 0.33333333, 0.44444444,
        0.55555556, 0.66666667, 0.77777778, 0.88888889, 1.        ]])

In [68]:
array['y']

array([[0.        , 0.        , 0.        , 0.        , 0.        ,
        0.        , 0.        , 0.        , 0.        , 0.        ],
       [0.11111111, 0.11111111, 0.11111111, 0.11111111, 0.11111111,
        0.11111111, 0.11111111, 0.11111111, 0.11111111, 0.11111111],
       [0.22222222, 0.22222222, 0.22222222, 0.22222222, 0.22222222,
        0.22222222, 0.22222222, 0.22222222, 0.22222222, 0.22222222],
       [0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333,
        0.33333333, 0.33333333, 0.33333333, 0.33333333, 0.33333333],
       [0.44444444, 0.44444444, 0.44444444, 0.44444444, 0.44444444,
        0.44444444, 0.44444444, 0.44444444, 0.44444444, 0.44444444],
       [0.55555556, 0.55555556, 0.55555556, 0.55555556, 0.55555556,
        0.55555556, 0.55555556, 0.55555556, 0.55555556, 0.55555556],
       [0.66666667, 0.66666667, 0.66666667, 0.66666667, 0.66666667,
        0.66666667, 0.66666667, 0.66666667, 0.66666667, 0.66666667],
       [0.77777778, 0.77777778, 0.77777778, 0.77777778, 0.77777778,
        0.77777778, 0.77777778, 0.77777778, 0.77777778, 0.77777778],
       [0.88888889, 0.88888889, 0.88888889, 0.88888889, 0.88888889,
        0.88888889, 0.88888889, 0.88888889, 0.88888889, 0.88888889],
       [1.        , 1.        , 1.        , 1.        , 1.        ,
        1.        , 1.        , 1.        , 1.        , 1.        ]])

In [70]:
array

array([[(0.        , 0.        ), (0.11111111, 0.        ),
        (0.22222222, 0.        ), (0.33333333, 0.        ),
        (0.44444444, 0.        ), (0.55555556, 0.        ),
        (0.66666667, 0.        ), (0.77777778, 0.        ),
        (0.88888889, 0.        ), (1.        , 0.        )],
       [(0.        , 0.11111111), (0.11111111, 0.11111111),
        (0.22222222, 0.11111111), (0.33333333, 0.11111111),
        (0.44444444, 0.11111111), (0.55555556, 0.11111111),
        (0.66666667, 0.11111111), (0.77777778, 0.11111111),
        (0.88888889, 0.11111111), (1.        , 0.11111111)],
       [(0.        , 0.22222222), (0.11111111, 0.22222222),
        (0.22222222, 0.22222222), (0.33333333, 0.22222222),
        (0.44444444, 0.22222222), (0.55555556, 0.22222222),
        (0.66666667, 0.22222222), (0.77777778, 0.22222222),
        (0.88888889, 0.22222222), (1.        , 0.22222222)],
       [(0.        , 0.33333333), (0.11111111, 0.33333333),
        (0.22222222, 0.33333333), (0.33333333, 0.33333333),
        (0.44444444, 0.33333333), (0.55555556, 0.33333333),
        (0.66666667, 0.33333333), (0.77777778, 0.33333333),
        (0.88888889, 0.33333333), (1.        , 0.33333333)],
       [(0.        , 0.44444444), (0.11111111, 0.44444444),
        (0.22222222, 0.44444444), (0.33333333, 0.44444444),
        (0.44444444, 0.44444444), (0.55555556, 0.44444444),
        (0.66666667, 0.44444444), (0.77777778, 0.44444444),
        (0.88888889, 0.44444444), (1.        , 0.44444444)],
       [(0.        , 0.55555556), (0.11111111, 0.55555556),
        (0.22222222, 0.55555556), (0.33333333, 0.55555556),
        (0.44444444, 0.55555556), (0.55555556, 0.55555556),
        (0.66666667, 0.55555556), (0.77777778, 0.55555556),
        (0.88888889, 0.55555556), (1.        , 0.55555556)],
       [(0.        , 0.66666667), (0.11111111, 0.66666667),
        (0.22222222, 0.66666667), (0.33333333, 0.66666667),
        (0.44444444, 0.66666667), (0.55555556, 0.66666667),
        (0.66666667, 0.66666667), (0.77777778, 0.66666667),
        (0.88888889, 0.66666667), (1.        , 0.66666667)],
       [(0.        , 0.77777778), (0.11111111, 0.77777778),
        (0.22222222, 0.77777778), (0.33333333, 0.77777778),
        (0.44444444, 0.77777778), (0.55555556, 0.77777778),
        (0.66666667, 0.77777778), (0.77777778, 0.77777778),
        (0.88888889, 0.77777778), (1.        , 0.77777778)],
       [(0.        , 0.88888889), (0.11111111, 0.88888889),
        (0.22222222, 0.88888889), (0.33333333, 0.88888889),
        (0.44444444, 0.88888889), (0.55555556, 0.88888889),
        (0.66666667, 0.88888889), (0.77777778, 0.88888889),
        (0.88888889, 0.88888889), (1.        , 0.88888889)],
       [(0.        , 1.        ), (0.11111111, 1.        ),
        (0.22222222, 1.        ), (0.33333333, 1.        ),
        (0.44444444, 1.        ), (0.55555556, 1.        ),
        (0.66666667, 1.        ), (0.77777778, 1.        ),
        (0.88888889, 1.        ), (1.        , 1.        )]],
      dtype=[('x', '<f8'), ('y', '<f8')])

__9. Consider two random array A and B, check if they are equal__

In [44]:
np.array_equal(np.random.randn(5), np.random.randn(5))

False

__10. Create a random matrix and swap two rows of an array?__

In [57]:
matrix = np.random.randint(10, size=(4, 5))
matrix

array([[7, 8, 5, 4, 0],
       [0, 8, 2, 4, 7],
       [5, 2, 3, 8, 1],
       [9, 0, 0, 8, 1]])

In [58]:
#swaping
matrix[[1, 2]] = matrix[[2, 1]]
matrix

array([[7, 8, 5, 4, 0],
       [5, 2, 3, 8, 1],
       [0, 8, 2, 4, 7],
       [9, 0, 0, 8, 1]])